*{
    margin: 0;
}
html{
    /*!!aksi belirtilmedikçe default font-size  genelde 16px eşittir.*/
}
body{
    height: 400px;
}

.abs{
    background-color: aqua;
    width: 10cm;
}
.div2{
    background-color: tomato;
    width: 50%;
    height: 50%;
}
.div3{
    background-color: violet;
    width: 50%;
    height: 50%;
}
/*!% ⇒ parent elemente göre % verilir. Responsive tasarımın temelleridir. Bazen % sel almaz bunun sebebi parentin width değeri yoktur. Body'nin default bir height değeri yoktur. body'e yüzdesel atanamaz.*/
.div4{
    background-color: yellowgreen;
    width: 40vw;
    height: 20vh;
}
/*?vw vh ⇒ Görecelilik parenta göre değil tarayıcı alanına göredir. Örn: 50vw ⇒ tarayıcı alanının %50sini kaplar.*/

/**1vw = 1% of viewport width. 
/**1vh = 1% of viewport height.*/
.div5{
    font-size: 1em; /**20px*/
}
.div6{
    font-size: 2em; /**40px*/
}
.div7{
    font-size: 0.5em; /**20px*/
}
.div8{
    font-size: 2rem; /**40px*/ /*?root'un katını alır*/
}
.div9{
    font-size: 3rem; /**60px*/  em olsa 120olmalıyken root olduğu için 60 devam eder.
}